.projects {
background-color: #000;
    height: 100vh;
/* padding-top: 100px; */
    padding: 200px;
    position: static;
    overflow-y: scroll;
}

.projects .title h2 {
    position: absolute;
    left: 12%;
    color: var(--redsecondary-color);
}

.projects::-webkit-scrollbar {
    display: none;
}

.carda {
    margin-left: 50px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin-bottom: 40px;
    padding: 80px;
    position: sticky;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* background-color: white; */
    color: #333;
    background-color: #F2FF26;
    top: 60px;
}

.cardb {
    margin-left: 50px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin-bottom: 40px;
    padding: 80px;
    position: sticky;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #CFF07C;
        top: 80px;
    color: #333;
}

.cardc {
    margin-left: 50px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin-bottom: 40px;
    padding: 80px;
    position: sticky;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #CFF07C;
    top: 100px;
    color: #333;
}


.card h2 {
    padding: 0;
}

.card span {
    display: block;
    font-size: 14px;
    color: #0c4eb9;
}
/* .card:nth-child(1) {
    background-color: #F2FF26;
    top: 40px;
} */

/* .card:nth-child(2) {
    background-color: #F2FF26;
    top: 60px;
}

.card:nth-child(3) {
    background-color: #CFF07C;
    top: 80px;
}

.card:nth-child(4) {
    top: -200px;
}
*/
/* .card:nth-child(5) {
    top: -100px;
} */