.projects {
background-color: #000;
position:relative;
border: red 1px solid;

}

.projects .title {
    position: sticky;
    top: 20px;
    margin-top: 100px;
    margin-left: 100px;
    color: var(--redsecondary-color);
    z-index: 2;
}a

.projects::-webkit-scrollbar {
    display: none;
}

