.About {
    background-color: var(--secondaryBG-color); 
    min-height: 80vh;
  }
  
  .aboutWrapper {
    background-image:
      repeating-linear-gradient(90deg, rgb(255,255,255,0.1) 0 1px, transparent 1px 100%);
    background-size: 100px;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 20px 0;
    max-width: 85%;
    position: relative;
  }
  
  .contentAndSkills {
    position: relative;
    padding: 20px;
    padding-right: 100px;
  }
  
  .About_content {
    font-size: 3rem;
    line-height: 4rem;
    color: var(--secondary-color); /* Ensure text is visible on top of the background */
  }

 


  

  .About_content p span span{
    color: var(--redsecondary-color);
  }
  
  .skills {
    padding-top: 50px;
  }
  
  .skills h2 {
    margin-bottom: 20px;
    color: var(--redsecondary-color);
  }
  
  .skill-icons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .skill-icons img {
    height: 4rem;
    width: 4rem;
  }
  
  .pic img {
    width: 450px;
  }

@media (max-width: 600px) {
    .pic {
        display: none;
    }
    .About h3,
    .skills h3 {
        font-size: 24px;
    }
    .contentAndSkills {
        padding: 0;
    }
    .aboutWrapper {
        padding: 0;
        height: 80vh;
    }
    .About_content p{
        margin: 50px 5% 0;
        line-height: 30px;
        font-size: 24px;
    }
    .skills{
       margin: 20px 5% 0;
    }
    .skill-icons img {
        max-height: 2.4rem; /* Smaller icons */
        max-width: 2.4rem;
    }
}