.About {
    min-height: 100vh;
    background-color: var(--secondaryBG-color);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.About-content h3 {
    font-weight: 100;
    font-size: 2rem;
    color: var(--redsecondary-color);
    margin-bottom: 20px; 
        /* Add space below the heading */
}

.About-content {
    margin: 200px 10%;
    text-align: left;
    max-width: 80%;
    font-size: 4rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
        /* Add space below the content */
}

.About-content span {
    color: var(--text-color);
}

.skills {
    max-width: 80%;
    margin: 0 10%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.skills h3 {
    font-size: 3rem;
    font-weight: 100;
    padding-top: 10px;
    color: var(--redsecondary-color);
    margin-bottom: 20px;
        /* Add space below the heading */
}

.skill-icons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
        /* Allow icons to wrap on small screens */
}

.skill-icons img {
    height: 5rem;
    width: 5rem;
}
@media (max-width: 600px) {
   

    .About h3,
    .skills h3 {
        font-size: 24px;
    }

    .About-content {
        margin: 100px 5% 0;
        font-size: 40px;
    }
    .skills{
       margin: 20px 5% 0;
    }
    .skill-icons img {
        max-height: 60px; /* Smaller icons */
        max-width: 60px;
    }
}