.contact{
    background-color: var(--secondaryBG-color); 
}
.wrapper {
    margin: 0 20%;
    display: flex;
    padding: 150px 0 20px 0;
    max-width: 80%;
}
.wrapper div {
    border: 1px solid rgb(49, 50, 49);
    color: white;
}
.wrapper .grid3 form div{
    border-radius: 1rem;
}



.grid3 {
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid3{
    background-image:
      repeating-linear-gradient(rgb(255,255,255,0.2) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(255,255,255,0.2) 0 1px, transparent 1px 100%);
    background-size: 71px 71px;
}


.grid3 a{
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.grid3 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: currentColor; /* Matches text color */
    bottom: -5px; /* Distance from text */
    left: 0;
    transition: width 0.3s ease; /* Animation effect */
}
.grid3 a:hover::after {
    width: 100%; /* Full width on hover */
  }



  @media (max-width: 600px) {
    .wrapper{
        margin: 0 10%;
        height: 70vh;
        padding: 20px 0 10px 0;

    }
    .contact_card{
        display: none;
    }


    .grid3 {
        height: 100%;
        width: 100%;
    }

    .grid3 a {
        font-size: 10px; /* Adjust font size for smaller screens */
    }

    .grid3 a::after {
        width: 100%; /* Set a fixed width to disable hover effect */
    }

}
