.nav {
    border-bottom: 2px solid #3c3c3c;
    backdrop-filter: blur(10px);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    width: 100%;
    flex-grow: 1;
    padding-top: 10px;
    color: white;
    justify-content: space-between;
}

.nav-left {
    color: var(--text-color);
    font-size: 30px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    font-size: 20px;
    font-weight: 100;
    padding-right: 100px;
    text-align: right;
}.nav-right a {
    color: white; /* Set the color for unvisited links */
    text-decoration: none; /* Optional: Removes underline from links */
}

.nav-right a:visited {
    color: white; /* Set the color for visited links */
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.initials {
    margin-right: 1px;
    transition: margin 0.5s ease 0s;
}

.name-part {
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
    transition: max-width 0.5s ease;
    max-width: 0;
}

.nav-left:hover .initials:nth-child(1) {
    margin-right: 1px;
}

.nav-left:hover .initials:nth-child(3) {
    margin-left: 5px;
}

.nav-left:hover .name-part {
    max-width: 120px;
}

.hidden-text {
    display: inline-block;
    transition: transform 0.1s ease 0s;
    transform: translateY(100%);
}

.nav-left:hover .hidden-text {
    transform: translateY(0);
    transition-delay: 0.5s;
}

.nav-left .hidden-text {
    transition-delay: 0s;
}

@media (max-width: 600px){
    .nav-left,.nav-right{
        padding: 0 5%;
    }
}