* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #EB5939;

    --redsecondary-color: #EF750F;
        /* Define your primary color */
        --secondary-color: #B7AB98;
        /* Define your secondary color */
        --secondaryBG-color: #101010;
        /* Define an accent color */
        /* Add more variables as needed */
}
body {
    font-family: 'Inter', sans-serif;
    /* Apply Inter font to the entire body */
}
body::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar */
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* .App {
    overflow-y: hidden;
} */